@font-face {
  font-family: 'Gotham Pro';
  src:
  url('../fonts/gotham/GothamPro-Italic.woff') format('woff'),
  url('../fonts/gotham/GothamPro-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}